body{
	background: #c1c1c1;
}

.listedCard{
    padding-top: 4px;
    /*padding-bottom: 4px;*/
	margin:0;
}

.listedCardPic,
.flCard{
    height: 90px;
    margin-top: 15px;
	border: 1px solid grey;
    border-radius: 4px;
}

.listedCardPic {
	height: 64px;
	margin-top: 3px;
}

.flRow {
    min-height: 105px;
    height: auto;
}

#cardListScroll{
	/*overflow-y: scroll;*/
    max-height: 100%;
}

.listedCard:nth-child(2n){
    background: grey;
}

.listedCardInfo{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content{
	height: 100vh;
    /*background: aliceblue;*/
}

#topRow,
#flListCol,
#cardSearchOutCol {
    border: 1px solid grey;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

#mainRow{
	margin-top: 25px;
	/*height: 80%;*/
}

#iconCol{
	
}

#cardSearchFilterCol{
	
}

#flListColInner,
#flListCol{
	background:#9d9d9d;
}

#pageControl{
	margin-top: 10px;
	text-align:center;
}

#cardSearchOutCol{
	/*background:yellow;*/
	padding:0;
	height: 425px;
    margin-left: 95px;
}

#limitOptions,
#exportContainer{
	margin-top: 10px;
}

#cardSearchFilterCol {
    padding-top: 25px;
}

.banOptionLabel{
	margin-left: 5px;
	margin-right: 15px;
}

.flRowImgContainer {
    padding-top: 25px;
}